<!--
    Este archivo HTML define un formulario para añadir un nuevo espacio de coworking. El formulario está estructurado utilizando componentes de Angular y Flex Layout para un diseño responsivo.
    Detalles del Formulario:
    - Atributos del Formulario:
      - class: "form-section"
      - attr: "coworkingDetail"
      - service: "coworkings"
      - entity: "coworking"
      - keys: "id"
      - header-actions: "new"
      - show-header-navigation: "no"
      - (onInsert): "onInsertSuccess()"
      - after-insert-mode: "detail"
    - Secciones del Formulario:
      - Información General:
        - Nombre: Campo de texto requerido con icono "business"
        - Descripción: Campo de texto requerido con icono "description" y un máximo de 250 caracteres
      - Dirección y Localidad:
        - Localidad: Campo de texto requerido con icono "location_city"
        - Dirección: Campo de texto requerido con icono "place"
      - Capacidad y Precio Diario:
        - Capacidad: Campo de número entero requerido con icono "event_seat" y color de hover personalizado
        - Precio Diario: Campo de número real requerido con icono "euro_symbol", 2 dígitos decimales, y color de hover personalizado
  -->
<o-form
  #coworkingForm
  attr="coworkingDetail"
  service="coworkings"
  entity="coworking"
  keys="id"
  header-actions="new"
  show-header-navigation="no"
  (onInsert)="onInsertSuccess(); $event.stopPropagation()"
  class="form-section form-new-event no-margin-top"
  show-header="no"
  ignore-default-navigation="yes"
  fxFlex
>
  <div class="form-section" fxLayout="row" fxLayoutAlign="left start">
    <!-- General Information -->
    <o-column
      fxFlex
      class="form-section form-new-event no-margin-top"
      title="ADD_COWORKING"
      fxLayoutGap="24px"
    >
      <!-- Name and Description-->
      <o-text-input
        fxFlex
        attr="cw_name"
        fxFlex
        label="NAME"
        required="yes"
        icon="business"
        placeholder="{{ 'COWORKINGS_NAME' | oTranslate }}"
        max-length="50"
        min-length="3"
      ></o-text-input>
      <o-textarea-input
        fxFlex
        attr="cw_description"
        fxFlex
        label="DESCRIPTION"
        required="yes"
        icon="description"
        max-length="250"
        icon="description"
        placeholder="{{ 'COWORKINGS_DESCRIPTION' | oTranslate }}"
      ></o-textarea-input>
      <!-- Capacity and Price -->
      <o-integer-input
        min="1"
        max="1000"
        attr="cw_capacity"
        label="CAPACITY"
        required="yes"
        icon="event_seat"
        placeholder="{{ 'COWORKINGS_CAPACITY' | oTranslate }}"
        style="--field-hover-color: #6200ea"
      ></o-integer-input>
      <o-real-input
        min="1"
        max="1000"
        attr="cw_daily_price"
        label="PRICE"
        required="yes"
        decimal-digits="2"
        icon="euro_symbol"
        placeholder="{{ 'COWORKINGS_PRICE' | oTranslate }}"
        style="--field-hover-color: #6200ea"
        class="price"
      ></o-real-input>

      <span
        >{{ "selected_services" | oTranslate }} {{ selectedServices }} / 6</span
      >
      <o-grid
        attr="services"
        service="services"
        entity="service"
        cols="6"
        #servicesGrid
        columns="srv_id;srv_name"
        keys="srv_id"
        quick-filter="no"
        fixed-header="no"
        controls="false"
        refresh-button="false"
        show-page-size="false"
        pagination-controls="false"
        show-buttons-text="no"
        gutter-size="2px"
        detail-mode="none"
        show-footer="no"
        grid-item-height="70px"
      >
        <o-grid-item *ngFor="let dato of servicesGrid.dataArray">
          <div
            class="srv"
            (click)="selectService(dato.srv_id, 'sel' + dato.srv_id)"
          >
            <o-column
              id="{{ 'sel' + dato.srv_id }}"
              class="serviceDisable service-column"
              fxFlex="65px"
            >
              <article *ngIf="dato.srv_name == 'additional_screen'">
                <mat-icon [matTooltip]="dato.srv_name | oTranslate"
                  >desktop_windows</mat-icon
                >
                <!--<small>{{ dato.srv_name | oTranslate }}</small>-->
              </article>
              <article *ngIf="dato.srv_name == 'vending_machine'">
                <mat-icon [matTooltip]="dato.srv_name | oTranslate"
                  >kitchen</mat-icon
                >
              </article>
              <article *ngIf="dato.srv_name == 'coffee_bar'">
                <mat-icon [matTooltip]="dato.srv_name | oTranslate"
                  >local_cafe</mat-icon
                >
              </article>
              <article *ngIf="dato.srv_name == 'water_dispenser'">
                <mat-icon [matTooltip]="dato.srv_name | oTranslate"
                  >local_drink</mat-icon
                >
              </article>
              <article *ngIf="dato.srv_name == 'ergonomic_chair'">
                <mat-icon [matTooltip]="dato.srv_name | oTranslate"
                  >event_seat</mat-icon
                >
              </article>
              <article *ngIf="dato.srv_name == 'parking'">
                <mat-icon [matTooltip]="dato.srv_name | oTranslate"
                  >local_parking</mat-icon
                >
              </article>
              {{ dato.srv_name | oTranslate }}
            </o-column>
          </div>
        </o-grid-item>
      </o-grid>
      <!-- Imagen Information -->
      <!-- Imagen -->
      <o-image
        attr="cw_image"
        sql-type="OTHER"
        max-file-size="1048576"
        class="imagen-mapa"
      ></o-image>
    </o-column>
    <o-column
      fxFlex
      class="form-section form-new-event no-margin-top"
      title=""
      fxLayoutGap="24px"
      style="padding: 0 15px"
    >
      <div class="rowCityDirection" fxLayoutGap="24px">
        <!-- Direction and Locality -->
        <o-combo
          #combo
          attr="cw_location"
          service="cities"
          entity="city"
          keys="id_city"
          value-column="id_city"
          columns="id_city;city"
          visible-columns="city"
          null-selection="no"
          required="yes"
          label="LOCATION"
          translate="yes"
          searchable="true"
          sort="ASC"
          appearance="fill"
          class="halfSize"
        ></o-combo>
        <o-text-input
          #address
          attr="cw_address"
          fxFlex
          label="ADDRESS"
          required="yes"
          icon="place"
          placeholder="{{ 'COWORKINGS_ADDRESS' | oTranslate }}"
          max-length="50"
          min-length="3"
          (onBlur)="onAddressBlur()"
          class="halfSize"
        ></o-text-input>
      </div>
      <!-- Map Information -->
      <div title="" fxLayoutGap="24px" class="columna-imagen-mapa">
        <o-map
          #coworking_map
          attr="coworking_map"
          center="40.416775, -3.703790"
          zoom="6"
          min-zoom="6"
          max-zoom="18"
          zoom-control="yes"
          search-control="no"
          layer-panel-visible="no"
          fxFlex
        >
        </o-map>
      </div>
    </o-column>
  </div>
  <div
    fxLayout="row"
    fxLayoutGap="24px"
    class="form-row"
    fxFlex
    fxLayoutAlign="end"
    fxLayoutGap="30px"
    class="buttons"
  >
    <button mat-raised-button color="warn" (click)="cancel()">
      {{ "cancel" | oTranslate }}
    </button>
    <button
      mat-raised-button
      color="primary"
      [disabled]="isInvalidForm()"
      attr="save"
      (click)="save()"
    >
      {{ "save" | oTranslate }}
    </button>
  </div>
</o-form>
