<div class="card-detalle">
  <div class="button-back">
    <o-button
      attr="iconposition3"
      icon="arrow_back_ios"
      (click)="goBack()"
    ></o-button>
  </div>
  <o-form
    #form
    attr="eventDetail"
    service="events"
    entity="event"
    keys="id_event"
    header-actions="R"
    show-header-navigation="no"
    ignore-default-navigation="yes"
    editable-detail="no"
    columns="id_event;name;bookings;date_event;hour_event;location;address;description;price"
    show-header="false"
    layout-direction="row"
    stay-in-record-after-insert="true"
    fxFlex
  >
    <div fxLayout="column" class="events-details">
      <div fxLayout="row">
        <h1>{{ form.getFieldValue("name") }}</h1>
      </div>
      <div fxLayout="row" fxLayoutGap="16px">
        <div fxLayout="column" class="event-detail-container">
          <div class="image-container image-container-details">
            <div [ngClass]="{ hidden: !form.getFieldValue('image_event') }">
              <o-image
                attr="image_event"
                show-controls="no"
                read-only="yes"
                height="480px"
                width="450px"
                auto-fit="no"
              ></o-image>
            </div>
            <img
              *ngIf="!form.getFieldValue('image_event')"
              src="assets/images/event-default.jpg"
              alt="Imagen predeterminada"
              height="480px"
              width="450px"
            />
          </div>
          <div>
            <p>
              <strong>{{ "DETAILS" | oTranslate }}</strong>
            </p>
            <p>{{ form.getFieldValue("description") }}</p>
          </div>
        </div>
        <div fxLayout="column" class="detalles" fxLayoutGap="16px">
          <div fxLayoutAlign="start center" fxLayoutGap="8px">
            <div>
              <mat-icon [matTooltip]="'DATE_EVENT' | oTranslate"
                >calendar_month</mat-icon
              >
            </div>
            <span>
              {{ formatDate(form.getFieldValue("date_event")) }} -
              {{ formatTime(form.getFieldValue("hour_event")) }}
            </span>
          </div>
          <div fxLayoutAlign="start center" fxLayoutGap="8px">
            <div>
              <mat-icon [matTooltip]="'DURATION' | oTranslate"
                >hourglass_bottom</mat-icon
              >
            </div>
            <span>
              {{ durationConvert(form.getFieldValue("duration")) }}
            </span>
          </div>
          <div fxLayoutAlign="start center" fxLayoutGap="8px">
            <div>
              <mat-icon [matTooltip]="'LOCATION' | oTranslate"
                >location_on</mat-icon
              >
            </div>
            <span>
              {{ form.getFieldValue("address") }},
              {{ form.getFieldValue("location") }}
            </span>
          </div>
          <div fxLayoutAlign="start center" fxLayoutGap="8px">
            <div>
              <mat-icon [matTooltip]="'CAPACITY' | oTranslate">person</mat-icon>
            </div>
            <span>
              {{ form.getFieldValue("bookings") }}
              {{ "SLOTS" | oTranslate }} ({{ numeroPlazas }}
              {{ "AVAILABLE" | oTranslate }})
            </span>
          </div>
          <div fxLayoutAlign="start center" fxLayoutGap="8px">
            <div>
              <mat-icon [matTooltip]="'EVENT_PRICE' | oTranslate"
                >payments</mat-icon
              >
            </div>
            <span
              *ngIf="
                !form.getFieldValue('price') ||
                  form.getFieldValue('price') === 0;
                else priceValue
              "
            >
              {{ "FREE_EVENT" | oTranslate }}
            </span>
            <ng-template #priceValue>
              <span>{{ form.getFieldValue("price") }} €</span>
            </ng-template>
          </div>
          <p
            class="lblSeatsText"
            style="margin-block-start: 55px; margin-bottom: 8px"
          >
            {{ literalPlazas | oTranslate }}
          </p>

          <div
            class="reservation-button"
            *ngIf="parsePermissions('bookingButton')"
          >
            <o-button
              #bookingButton
              attr="bookingButton"
              label="{{ 'BOOKING' | oTranslate }}"
              type="raised"
              color="primary"
              (click)="showConfirm()"
              style="margin-left: 100px"
            ></o-button>
          </div>
        </div>
      </div>
    </div>
    <o-integer-input oHidden #id attr="id_event"></o-integer-input>
    <o-text-input oHidden attr="name"></o-text-input>
    <o-text-input oHidden attr="description"></o-text-input>
    <o-text-input oHidden attr="address"></o-text-input>
    <o-text-input oHidden attr="bookings"></o-text-input>
    <o-text-input oHidden attr="date_event"></o-text-input>
    <o-text-input oHidden attr="hour_event"></o-text-input>
    <o-text-input oHidden attr="duration"></o-text-input>
    <o-text-input oHidden attr="location"></o-text-input>
    <o-text-input oHidden attr="price"></o-text-input>
  </o-form>
</div>
