.m-top-24 {
    margin-top: 24px;
  }
  
.full-page {
    width: 100%;
    height: 100%;
    margin: 0 auto;
    position: relative;
    overflow: hidden;

    .register-outer-container {
        width: 100%;
        height: 100%;
        display: -webkit-box;
        display: -webkit-flex;
        display: -moz-box;
        display: -ms-flexbox;
        display: flex;
        flex-wrap: wrap;
        align-items: stretch;
        overflow: auto;
    }
    .register-bg-container {
        background-image: url('^assets/images/login_bg.png');
        width: calc(100% - 640px);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        position: relative;
        z-index: 1;
    }
  
      .register-bg-container::before {
        content: "";
        display: block;
        position: absolute;
        z-index: -1;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        background: rgba(0, 0, 0, .1);
        opacity: .8;
      }
      .wrapp-register {
        width: 640px;
        min-height: 100%;

        .register-inner-container{
            width: 100%;
        }
        form {
            padding: 16px;
            min-height: 600px;
            min-width: 368px;
          }

      }
}

@media(max-width:576px) {
    .full-page {

      .footer-container {
        div {
          margin: 0 auto;
          place-content: center !important;
        }
      }
    }
  }
  