@use "sass:map";
@import "./custom_font.scss";
@import "primeicons/primeicons.css";
@import "./custom_color.scss";

h1,
h2,
h3,
h4,
h5,
h6 {
  &:hover {
    animation: wave 1.5s ease-in-out;
  }
}

$borderRadius: 16px;
$borderRadiusButton: 25px;
$borderRadiusNav: 0px 0px 25px 0px;
$borderRadiusEqual: 25px;

$padding: 25px 25px 25px 25px;
$paddingInterno: 12px 16px;

// Gradientes de colores
$linear-gradientLR: linear-gradient(
  90deg,
  $colorDegradadoFuerte 0%,
  $colorDegradadoFuerte 5%,
  $colorDegradadoFuerte 100%
);
$linear-gradientRL: linear-gradient(
  270deg,
  $colorDegradadoFuerte 0%,
  $colorDegradadoFuerte 5%,
  $colorDegradadoFuerte 100%
);
$linear-gradientTB: linear-gradient(
  180deg,
  $colorDegradadoFuerte 0%,
  $colorDegradadoFuerte 5%,
  $colorDegradadoFuerte 100%
);
$linear-gradientBT: linear-gradient(
  0,
  $colorDegradadoFuerte 0%,
  $colorDegradadoFuerte 5%,
  $colorDegradadoFuerte 100%
);

/* Margin personalizado */
.m-top-24 {
  margin-top: 24px;
}

mat-icon.mat-icon.notranslate.mat-mdc-tooltip-trigger.material-icons.mat-ligature-font.mat-icon-no-color {
  color: $verdeBoton;
}
ngx-material-timepicker-container
  ngx-material-timepicker-content
  header.timepicker__header {
  background-color: $primary !important;
}
.o-column-collapsible
  > .o-container.mat-expansion-panel
  .mat-expansion-panel-header,
.o-row-collapsible
  > .o-container.mat-expansion-panel
  .mat-expansion-panel-header {
  padding-left: 0px;
}

.mat-mdc-tab-group.o-tab-ontimize
  > .mat-mdc-tab-header
  .mat-mdc-tab-label-container
  div.mat-mdc-tab.mdc-tab--active {
  background-color: transparent;
  font-size: $fontSize20;
  font-weight: $fontBold;
}
/*   Video home page  */
#background-video {
  width: 100vw;
  height: 100vh;
  object-fit: cover;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: -1;
}

/* Footer */
#footer {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 40px;
  z-index: 2;

  div {
    height: 40px;
    margin-right: 50px;

    span {
      font-size: $fontSize12;
      padding-right: 4px;
    }
  }
}
/*  Barra de navegación lateral  */
.navMenu {
  background-color: $primary;
}

/* SnackBar */
.cdk-overlay-container .cdk-global-overlay-wrapper {
  align-items: flex-start !important;
  margin-top: 25px;
  margin-left: -7px;

  .mdc-snackbar__surface {
    background-color: $primary;
    padding: 15px 25px;
    border-radius: $borderRadius;
  }
  .mdc-snackbar__label {
    color: $accent;
    font-size: $fontSize14;
    padding: 0;
  }
  span.mdc-button__label {
    color: $verdeBoton;
    font: $fontSize12;
  }
  .mat-mdc-snack-bar-actions.mdc-snackbar__actions.ng-star-inserted {
    background-color: $accent;
    border-radius: 15px;
  }
  button.mat-simple-snackbar-action.ng-star-inserted {
    border-radius: 15px;
    padding: 5px 15px;
    background-color: $accent;
    border: none;
  }
}

o-search-input.o-search-input.ng-star-inserted {
  position: absolute;
  left: 50px;
}

.mat-mdc-paginator-container {
  position: absolute;
  top: 1px;
  right: 0;
  width: 450px !important;
  z-index: 1;
}

/* Pantalla login */
login {
  .full-page .login-outer-container .wrapp-login {
    width: 100vw;
    min-height: unset;
    z-index: 2;
    background-color: unset;

    .login-button {
      background-color: $primary;
      color: $blanco;
      margin-bottom: 40px;
    }
    .register-button {
      background-color: $accent;
    }
    .enter-without-account-button {
      background-color: $blanco;
      color: $primary;
    }

    .login-inner-container form {
      padding: $padding;
      justify-content: center;
      background-color: rgba($blanco, 0.4);
      border-radius: $borderRadius;
      padding: $padding;
      justify-content: center;
      min-height: unset !important;

      .login-title-container {
        margin-top: unset;
      }
    }
    .login-inner-container {
      background-color: unset;
    }
  }
}

app-coworking-new {
  gap: 25px;
  flex-wrap: wrap;
}

form {
  overflow: hidden;
}

/* Formato Full page */
.full-page {
  width: 100%;
  height: 100%;
  margin: 0 auto;
  position: relative;
  overflow: hidden;

  .registerForm form.inner-form.form-no-toolbar {
    min-height: 100vh;
    justify-content: center;
    min-width: 368px;
  }

  .login-inner-container form,
  .o-form form .o-form-content-wrapper {
    background-color: rgba($blanco, 0.4);
    border-radius: $borderRadius;
    padding: $padding;
    justify-content: center;
    min-height: unset !important;
  }

  .register-outer-container {
    width: 100%;
    height: 100%;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    flex-wrap: wrap;
    overflow: auto;
    justify-content: center;
  }

  .register-bg-container {
    background-image: unset;
    width: unset;
    background-repeat: no-repeat;
    background-size: unset;
    background-position: unset;
    position: unset;
    z-index: 1;
  }

  .register-bg-container::before {
    content: "";
    display: block;
    position: absolute;
    z-index: -1;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: rgba($primary, 0.1);
    opacity: 0.8;
  }

  .wrapp-register {
    width: 640px;
    min-height: 100%;
    z-index: 2;

    .register-button {
      background-color: $primary;
      color: $blanco;
      margin-bottom: 40px;
    }
    .go-back-button {
      background-color: $accent;
    }

    .register-inner-container {
      width: 100%;
    }

    form {
      padding: $paddingInterno;
      min-height: 600px;
      min-width: 368px;
    }
  }
}
.o-table .mat-mdc-table .mat-mdc-row:hover:not(.o-table-group-row) {
  background-color: $accent !important;
}

/* Boton salir */
nav.ng-star-inserted:nth-last-child(1),
nav.ng-star-inserted:nth-last-child(2) {
  background-color: $verdeBoton;
  position: absolute;
  border-radius: 25px;
  border-left: 0px solid $primary !important;
  margin: 0px 5px 0 5px;
  transition: all 0.2s;
  top: unset;
  bottom: 25px;
  right: 0;
  width: 96%;

  span.o-app-sidenav-menuitem-title {
    color: $blanco;
  }

  mat-icon.mat-icon.notranslate.material-icons.mat-ligature-font.mat-icon-no-color.ng-star-inserted {
    color: $blanco;
  }

  .o-app-sidenav-menu-group a,
  .o-app-sidenav-menu-item a {
    padding-left: 4px;
    padding-right: 4px !important;
    border-left: 0px solid transparent !important;
    color: $accent;
  }

  :hover {
    border-left: 0px solid $accent !important;
  }
  .mdc-button__label > div {
    justify-content: center !important;
  }

  .o-app-sidenav-menu-item:not([disabled="true"]) a:hover {
    border-radius: 25px !important;
    border-left: 0px solid $accent;
    transition: none;
  }
  .mat-mdc-button > .mat-icon {
    margin-left: 0;
    margin-right: 0px;
  }
}

// Formato barra lateral
.o-app-sidenav {
  .o-app-sidenav-sidenav {
    background-image: $linear-gradientBT;
  }

  .o-app-sidenav-container {
    .o-app-header {
      background-image: $linear-gradientRL;
    }

    .mat-drawer.o-app-sidenav-sidenav .mat-drawer-inner-container nav a {
      border-radius: $borderRadius;
    }

    .o-app-sidenav-menu-item:not([disabled="true"]) {
      border-radius: $borderRadiusNav;
      transition: all 0.2s;
      margin: unset;
      border-left: unset;

      a:hover {
        border-radius: $borderRadiusNav;
        background-color: $accent;
        color: $primary;
        border-left: 8px solid $verdeBoton;
      }

      a.o-app-sidenav-viewer-sidenav-item-selected {
        color: rgba(0, 0, 0, 0.74);
        background-color: $accent;
        border-left: 8px solid $verdeBoton;
      }
    }
    .mat-drawer.o-app-sidenav-sidenav .mat-drawer-inner-container {
      padding-bottom: 0px !important;
    }
  }

  o-app-sidenav-image.o-app-sidenav-image {
    background-color: $primary;
  }

  .sidenav-toggle-container.ng-star-inserted {
    background-color: $primary;
  }
}

.o-data-toolbar.o-data-toolbar.o-grid-toolbar.ng-star-inserted {
  background-color: $blanco;
  padding: 25px 25px 25px 0;
  border-radius: $borderRadiusButton;
  margin-bottom: 25px;
}

div#innerCol {
  padding: 10px 0 1px 0;
  > div {
    column-gap: 15px;
    .btn-container {
      background-color: $blanco;
      button {
        padding-top: 4px;
        height: 78%;
      }
    }
  }
}
.mat-mdc-select-panel {
  .mat-pseudo-checkbox-checked {
    background-color: $primary !important;
  }
}

/* Contenedores fichas detalle */
.card-detalle {
  display: flex;
  gap: 25px;
  flex-direction: column;
  align-content: center;

  o-image .o-image-display-container {
    flex-direction: column;
    box-sizing: border-box;
    display: flex;
    place-content: left;
    align-items: flex-start;
    margin: 0 !important ;

    img {
      width: 510px !important;
      height: 290px !important;
      object-fit: cover !important;
    }
  }
  .button-back {
    position: absolute;
  }
  .dos-columnas {
    width: 100%;
    padding: 0 15px;
  }

  o-column.o-column,
  o-row.o-row {
    background: transparent;
    box-shadow: none;
    margin: 0;

    div.o-container-gap {
      padding: unset !important;
      > div {
        flex-wrap: wrap;
      }
    }

    div.info-container {
      width: 100%;
      max-width: 550px;
    }

    div.detail-container {
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      flex-wrap: wrap;

      .bloque-reserva {
        display: flex;
        flex-direction: row;
        align-items: flex-end;
        justify-content: flex-end;
        flex-wrap: wrap;

        > div {
          display: flex;
          flex-wrap: wrap;
          flex-direction: row;
          width: 100%;
          column-gap: 27px;
          justify-content: flex-end;
        }
      }
    }
  }

  #carousel {
    padding-top: 35px;
  }
  .p-carousel {
    display: flex;
    flex-direction: column;
    row-gap: 14px;
  }

  o-form {
    .inner-form .o-form-content-wrapper {
      flex-flow: wrap;
    }
  }
  .map-container {
    padding-top: 25px;

    .ubicacion {
      padding-top: 30px;
      font-size: $fontSize20;
    }

    o-map {
      max-width: 700px;
      min-width: 700px;
      width: 700px;
      max-height: 450px;
      min-height: 450px;
      height: 450px;
    }
  }
  o-button.o-button button {
    padding: 25px 35px;
    border-radius: $borderRadiusButton;
    border: none;
    width: 150px;
    -webkit-box-shadow: 0px 0px 10px 0px rgba($primary, 0.45);
    -moz-box-shadow: 0px 0px 10px 0px rgba($primary, 0.45);
    box-shadow: 0px 0px 10px 0px rgba($primary, 0.45);
  }

  .image-container {
    margin-right: 25px;
    .hidden {
      display: none;
      /* Oculta el div que envuelve o-image */
    }
    img {
      width: 480px !important;
      height: 280px !important;
      object-fit: cover !important;
      border-radius: $borderRadiusButton;
      display: block;
      -webkit-box-shadow: 0px 0px 10px 0px rgba($primary, 0.45);
      -moz-box-shadow: 0px 0px 10px 0px rgba($primary, 0.45);
      box-shadow: 0px 0px 10px 0px rgba($primary, 0.45);
    }
  }
  .price {
    // Estilo del precio
    font-size: $fontSize18;
    font-weight: bold;
    background-color: $verdeBoton;
    color: $blanco;
    margin: 10px 10px 25px 10px;
    padding: 10px 22px;
    border-radius: $borderRadius;
    text-align: center;
    box-shadow: 0px 0px 10px 0px $verdeBotonClaro;
  }

  .price .decimal {
    font-size: $fontSize16; /* Tamaño reducido para decimales */
    //vertical-align: super; /* Opcional: sube un poco los decimales */
  }
}
.reservation-button {
  text-align: center;
  o-button {
    margin-left: 0 !important;
  }
}

o-form-layout-tabgroup .card-detalle div.button-back {
  display: none;
  visibility: hidden;
}

//Codigo Conjunto//
o-column.o-column,
o-row.o-row {
  background: transparent;
}
o-column {
  background: transparent;
}
.o-container {
  background: transparent;
}
.mdc-text-field--filled:not(.mdc-text-field--disabled) {
  background-color: $accentClaro !important;
}
.form-row {
  margin-top: 24px;
  align-items: flex-end;
}
.form-container {
  width: 100vw;
}
.columna-imagen-mapa {
  display: flex;
  flex-direction: column;
  gap: 35px;

  o-map {
    width: 100%;
    height: 100%;
    max-height: 470px;
    min-height: 470px;
    height: 470px;
  }
  o-map.modal-form {
    max-height: 560px;
    height: 560px;
    min-height: 560px;
  }
  o-image {
    width: 100%;
    height: 100%;
    max-height: 270px;
    min-height: 270px;
  }
}
.map-container o-map {
  width: 100%;
  height: 100%;
  max-height: 470px;
  min-height: 470px;
  height: 470px;
}
.form-new-event.form-edit-modal {
  .o-container-title {
    display: none !important;
  }
}
.form-new-event {
  background-color: transparent;
  border: solid 1px $verdeBoton;
  border-radius: $borderRadius;

  .form-section {
    min-width: 500px;
    flex-wrap: wrap;
  }

  o-column.o-column:not(.service-column),
  o-row.o-row:not(.service-column) {
    background: transparent;
    padding: 5px;
    border: solid 0px $verdeBoton;

    o-text-input,
    o-integer-input,
    o-textarea-input,
    o-real-input,
    o-date-input,
    o-combo,
    o-grid,
    o-image,
    o-hour-input {
      max-width: 100%;
      width: 100%;
      min-width: 100%;
    }

    .o-image .o-image-content .o-image-display-container.o-image-drag-and-drop {
      padding: 10px;
    }
    o-image.imagen-mapa {
      width: 150px;
      height: 150px;
      max-height: 150px;
      min-height: 150px;

      o-image-content .o-image-display-container {
        margin: 4px;
        padding: 5px;
      }
    }
    o-image.imagen-mapa.modal-form {
      width: 300px;
      height: 300px;
      max-height: 300px;
      min-height: 300px;
    }

    .rowCityDirection {
      flex-direction: row;
      box-sizing: border-box;
      display: flex;
      margin: 60px 0 25px 0;
      justify-content: space-between;
    }
    .rowCityDirection.low-margin-top {
      margin: 20px 0 25px 0;
    }

    .o-container-scroll.o-scroll.o-container-gap {
      align-items: flex-start;
      overflow: hidden;

      > div {
        gap: 25px;
        flex-direction: row !important;
        flex-wrap: wrap;
        justify-content: space-between !important;
      }
    }

    o-column.o-column,
    o-row.o-row {
      background: $blanco;
    }
  }
  article.ng-star-inserted {
    align-self: center !important;
    padding: 5px;
    color: $verdeBoton;
    fill: $verdeBoton;
    :hover {
      cursor: pointer;
    }
    mat-icon {
      font-size: $fontSize35;
      width: $fontSize35;
      height: $fontSize35;
    }
  }
  .buttons {
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    padding: 15px;
  }
  .buttons.modal-form {
    background-color: transparent;
    margin-top: -50px;
  }
  .o-image .o-image-content.o-image-auto-fit .o-image-display-container > img {
    max-width: 350px;
  }
}
.lblSeatsText {
  font-size: $fontSize18;
  font-weight: $fontSemiBold;
  word-spacing: 0.8px;
  color: $verdeBoton;
  text-align: center;
  margin-top: -30px;
  padding: 5px;
}
.mat-mdc-tab-group.o-tab-ontimize
  > .mat-mdc-tab-header
  .mat-mdc-tab-label-container
  div.mat-mdc-tab.mdc-tab--active {
  font-size: 8px;
  font-weight: 700;
}
.application-layout-content-wrapper.header-layout {
  // background-image: url("assets/images/fondo_workwander.jpg");
  background-position-y: bottom;
  background-position-x: right;
  background-repeat: no-repeat;
  background-size: cover;
}
/*  Coworking */
.no-results {
  display: flex;
  justify-content: center;
  margin-top: 10%;
  color: #5c5c5c;
  text-align: center;
  font-size: xx-large;
  font-weight: bold;
}

.coworking-card {
  // Estilo general de la tarjeta de coworking
  display: flex;
  flex-direction: row;
  align-items: center;
  background-color: rgba($accent, 0.5);
  border-radius: $borderRadius;
  overflow: hidden;
  box-shadow: 0 4px 6px rgba($primary, 0.4);
  min-height: 200px;
  width: 100%;
  padding: 0 15px 0 4px;

  .image-container {
    // Contenedor de la imagen
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 8px;

    .coworking-image {
      // Estilo de la imagen de coworking
      width: 160px;
      height: 160px;
      object-fit: cover;
      cursor: pointer;
      border-radius: $borderRadius;
    }
  }
}
.event-card {
  // Estilo general de la tarjeta de evento
  display: flex;
  flex-direction: row;
  align-items: center;
  background-color: rgba($accent, 0.5);
  border-radius: $borderRadius;
  overflow: hidden;
  box-shadow: 0 4px 6px rgba($primary, 0.4);
  min-height: 200px;
  width: 100%;
  padding: 0 15px 0 4px;

  .image-container {
    // Contenedor de la imagen
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 8px;

    .event-image {
      // Estilo de la imagen de evento
      width: 160px;
      height: 160px;
      object-fit: cover;
      cursor: pointer;
      border-radius: $borderRadius;
    }
  }
}
.event-date,
.event-hour {
  // Estilo de la hora y la fecha del evento
  color: $primary;
  margin: 0 0 8px 0;
  font-size: $fontSize18;
}
.material-icons {
  color: $verdeBoton;
  fill: $verdeBoton;
}
o-snackbar .material-icons {
  color: $blanco;
  fill: $blanco !important;
}

o-snackbar .o-snackbar-message {
  color: $blanco;
}

.info {
  // Contenedor de la información
  width: 70%;
  padding: 16px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  .coworking-name,
  .event-name {
    // Estilo del nombre del coworking y de evento
    font-size: $fontSize24;
    font-weight: bold;
    color: $verdeBoton;
    cursor: pointer;
    margin-bottom: 8px;
    margin-top: 0;
    display: inline-block; // Necesario para que el efecto funcione correctamente
  }

  p.event-date {
    color: $verdeBoton;
  }

  p.event-hour {
    color: $verdeBoton;
  }

  .last-tickets-container {
    margin-top: 20px;
  }

  .last-tickets {
    padding: 5px;
    color: white;
    background-color: red;
    border-radius: 8px;
  }

  .form-container {
    padding: $padding;
    background: $blanco;
  }

  .form-section {
    border-radius: $borderRadius;
    background-color: $blanco;
    padding: $padding;
    box-shadow: 0px 8px 30px rgba($primary, 0.1);
    transition: all 0.3s ease;

    :hover {
      transform: none !important;
    }
  }

  .form-row {
    margin-bottom: 24px;
  }

  .location {
    // Estilo de la ubicación
    color: $verdeBoton;
    margin: 0 0 8px 0;
    font-size: $fontSize18;
  }

  .ratio {
    color: $verdeBoton;
    align-content: center;
    align-items: center;
    display: flex;

    mat-icon {
      color: #d3b403;
      margin-right: 5px;
    }
  }

  .capacity {
    // Estilo de la ubicación y capacidad
    color: $verdeBoton;
    margin: 0;
    font-size: $fontSize12;
    font-weight: $fontBlack;
    border-radius: $borderRadiusEqual;
    background-color: $accentClaro;
    padding: 2px;
    text-align: center;
  }
  .services {
    // Contenedor de los servicios
    display: flex;
    gap: 0px;
    margin-top: 8px;
    transition: transform 0.2s;
    flex-direction: row;
    flex-wrap: wrap;
    //translate: 20px;

    .service-icon {
      // Estilo de los iconos de servicios
      width: 24px;
      height: 24px;
      display: flex;
      align-items: center;
      justify-content: center;
      background-color: $primary;
      color: $blanco;
      border-radius: $borderRadiusButton;
      font-size: $fontSize12;
    }
  }
}

.capacity-price-container {
  // border-left: solid 5px $primary;
  padding: 0px 0 0 17px;
  min-width: 190px;

  .price-container {
    // Contenedor del precio
    padding: $paddingInterno;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: $verdeBoton;
    min-height: 100%;
    border-radius: $borderRadius;

    .price {
      // Estilo del precio
      //font-size: $fontSize45;
      font-size: $fontSize35;
      font-weight: bold;
      color: $blanco;

      .decimal {
        font-size: $fontSize18; /* Tamaño reducido para decimales */
        //vertical-align: super; /* Opcional: sube un poco los decimales */
      }
    }
  }
}

.event-free {
  font-size: $fontSize25;
  font-weight: bold;
  color: $blanco;
}

.capacity-container {
  // Contenedor de la capacidad
  width: 15%;
  padding: $paddingInterno;
  display: flex;
  align-items: center;
  justify-content: end;
  background-color: $accent;
  min-height: 100%;

  .capacity {
    // Estilo de la capacidad
    font-size: $fontSize24;
    font-weight: bold;
    color: $primary;
  }
}

.srv {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-content: center;
}

.serviceDisable {
  cursor: pointer;
  background-color: $accent;
  color: $verdeBoton;
  padding: 5px 5px 5px 5px;
  font-size: 9px;
  width: 250px;
  height: auto;
  text-align: center;
  margin: 0 auto;
}

o-data-toolbar {
  align-content: flex-start !important;
  max-width: 440px;
}

.ontimize-table.o-table,
.mat-mdc-tab-group.o-tab-ontimize > .mat-mdc-tab-body-wrapper {
  background: transparent !important;
}

.events-details {
  margin-top: 50px !important;

  .column-events-details {
    max-width: 480px;
  }

  .detalles {
    max-width: 480px;
  }
}

.o-grid-no-results {
  display: none !important;
}

.events-details {
  margin: auto;

  .detalles {
    background-color: $blanco;
    padding: 16px;
    border-radius: 16px;
    margin-bottom: 90px;
    margin-right: 16px;
    box-shadow: 0px 0px 10px 0px $primaryClaro;
  }
  .image-container.image-container-details img {
    height: 420px !important;
    width: 430px !important;
  }
}

// estrellas
.enable .p-icon.p-rating-icon {
  width: 20px;
  height: 20px;
  color: $amarillo;
}
.disable svg.p-icon.p-rating-icon {
  width: 20px;
  height: 20px;
  color: grey;
}

//cancelar
.cancelEnable {
  border: 2px $rojo solid;
  border-style: outset;
  border-radius: 8px;
  color: white !important;
  margin: 5px 0 5px 0;
  padding: 5px;
  background-color: $rojo !important;
}
.cancelDisable {
  border: 2px #4c4c4c solid;
  border-style: outset;
  border-radius: 8px;
  color: white !important;
  margin: 5px 0 5px 0;
  padding: 5px;
  background-color: #4c4c4c !important;
}

// botón borrar coworking
td.cdk-column-deleteCoworking.mat-column-deleteCoworking {
  mat-icon.mat-icon {
    color: $rojo !important;
  }
}
//reviews
.review {
  .review-title {
    margin-left: 16px;
  }
  .review-container {
    border: solid 1px white;
    padding: 16px;
    border-radius: 8px;
    width: 90%;
    align-items: flex-start;
    background-color: #f0f0f0;
  }

  .login-name {
    background-color: #7ba587;
    padding: 8px;
    border-radius: 8px;
    color: white;
  }

  .media_rating {
    color: #d3b403;
    transform: scale(1.5);
    padding-left: 8px;
  }

  ::ng-deep .o-grid-footer.ng-star-inserted {
    padding-bottom: 16px;
    padding-left: 16px;
  }
}

.event-item {
  .event-item-content {
    width: 60%;
    padding: 10px;
    border: 1px solid #dfe7ef;
    border-radius: 20px;
    text-align: center;
    height: 20%;
    margin: 0 auto;
  }

  .event-item-content:hover {
    cursor: pointer;
  }

  .event-image {
    width: 130px;
    height: 70px;
    object-fit: cover;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
    border-radius: 10px;
  }

  .nombre-evento {
    display: block;
    font-size: $fontSize18;
    font-weight: 800;
    height: 23px;
  }

  .fecha-evento {
    font-size: $fontSize12;
  }

  .hora-evento {
    font-size: $fontSize12;
  }
}
.grid-booking-rate .mat-grid-tile-content {
  background-color: #e6d5c3;
  justify-content: flex-start;
  align-items: flex-start;
  padding: 5px 10px;
  border-radius: 7px;
  -webkit-box-shadow: 0px 0px 10px 0px rgba($primary, 0.45);
  -moz-box-shadow: 0px 0px 10px 0px rgba($primary, 0.45);
  box-shadow: 0px 0px 10px 0px rgba($primary, 0.45);
}

.review {
  width: 100%;
  padding-left: 25px !important;
  padding-right: 25px !important;
}

#carousel {
  padding-top: 18px;

  .p-carousel-items-container {
    justify-content: space-between;
  }

  .p-carousel-item.ng-star-inserted .event-item .event-item-content {
    background-color: $accent;
  }

  .p-carousel-indicators {
    overflow: hidden;
    flex-wrap: nowrap !important;
    justify-content: flex-start !important;
    margin-block-start: 0;
    margin-block-end: 0;

    .p-carousel-indicator {
      list-style: none;
      padding: 5px;
      margin: 0%;

      button {
        width: 12px;
        height: 12px;
        border-radius: 50%;
        border: 2px solid $primary;
        background-color: transparent;
        transition: all 0.3s ease;
        cursor: pointer;

        &:hover {
          background-color: $accent;
          transform: scale(1.1);
        }
      }

      &.p-highlight button {
        background-color: $primary;
        transform: scale(1.2);
      }
    }
  }
  .p-carousel-prev,
  .p-carousel-next {
    background-color: $accent;
    border: none;
    color: #fff;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: background-color 0.3s;

    &:hover {
      background-color: $primary;
    }
  }
}

.header-container-re {
  margin-bottom: 15px;
}

.header-recommended-events {
  padding: 5px;
  background-color: $accent;
  color: $primary;
  border-radius: 5px;
  font-weight: bold;
}

/*- RATE -*/
.bookingsRate {
  i.pi.pi-star-fill {
    color: $amarillo;
    font-size: $fontSize20;
  }

  i.pi.pi-star-half-fill {
    color: $amarillo;
    font-size: $fontSize16;
  }
}
.rate {
  svg.p-icon.p-rating-icon {
    width: 40px;
    height: 40px;
    color: $amarillo;
    padding-bottom: 16px;
  }
}

.event-detail-container {
  max-width: 40vw;
}
.empty-events-message {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100px;
  background-color: $accent;
  border-radius: $borderRadius;
  margin: 10px;

  p {
    color: $primary;
    font-size: $fontSize16;
    font-weight: $fontSemiBold;
  }
}

@media (min-width: 768px) {
  .form-new-event {
    margin-top: 70px;

    o-column.o-column:not(.service-column),
    o-row.o-row:not(.service-column) {
      o-combo.halfSize {
        max-width: 27%;
        width: 27%;
        min-width: 27%;
      }

      o-text-input.halfSize {
        max-width: 67%;
        width: 67%;
        min-width: 67%;
      }

      o-date-input,
      o-integer-input,
      o-real-input,
      o-hour-input {
        max-width: 47%;
        width: 47%;
        min-width: 47%;
      }

      o-integer-input.inline {
        max-width: 30%;
        width: 30%;
        min-width: 30%;
      }

      o-real-input.inline {
        max-width: 30%;
        width: 30%;
        min-width: 30%;
      }
    }
  }
  .form-new-event.form-coworking-detail {
    margin-top: 0;

    .form-new-event.no-margin-top {
      margin-top: 0;
      margin-left: 0;
    }

    .form-new-event.form-coworking-detail {
      margin-top: 0;
    }
    .form-new-event.form-edit-modal {
      margin-top: 0;
      border: solid 0 transparent;
      border-radius: unset;
    }
  }
  @media (max-width: 850px) {
    .button-back {
      display: none;
    }
    .card-detalle .image-container img {
      height: 220px;
    }
    .card-detalle {
      o-column.o-column,
      o-row.o-row {
        width: 100%;
      }
    }
  }
  @media (max-width: 767.9px) {
    o-text-input,
    o-integer-input,
    o-real-input,
    o-date-input,
    o-hour-input,
    o-image {
      max-width: 100% !important;
      width: 100% !important;
      min-width: 100% !important;
    }
    .form-new-event article.ng-star-inserted mat-icon {
      font-size: 12px;
      width: 12px;
      height: 12px;
    }
  }
  @media (max-width: 576px) {
    .full-page {
      .footer-container {
        div {
          margin: 0 auto;
          place-content: center !important;
        }
      }
    }
  }
  // Media para 1050px
  @media (max-width: 1150px) {
    mat-paginator.mat-mdc-paginator.o-mat-paginator.ng-star-inserted {
      position: absolute;
      background-color: transparent;
      top: 0px;
      left: 24px;
    }
    .mat-mdc-paginator-container {
      position: absolute;
      top: 41px;
      right: unset;
      width: 450px !important;
      z-index: 1;
      left: -80px;
    }
    .o-data-toolbar.o-data-toolbar.o-grid-toolbar.ng-star-inserted {
      padding: 25px 25px 85px 0px;
    }
    o-data-toolbar.o-data-toolbar.o-table-toolbar.ng-star-inserted {
      margin-bottom: 60px !important;
    }
  }

  @media (max-width: 1500px) {
    /*  Coworking */
    .coworking-card {
      // Estilo general de la tarjeta de coworking
      .image-container {
        // Contenedor de la imagen
        padding: 12px;

        .coworking-image {
          // Estilo de la imagen de coworking
          width: 110px;
          height: 110px;
        }
      }
      .info .coworking-name {
        font-size: $fontSize18;
      }
      .capacity-price-container .price-container .price {
        font-size: $fontSize20;
        .decimal {
          font-size: $fontSize12;
        }
      }
      .capacity-price-container {
        min-width: 100px;
      }
      .material-icons {
        font-size: $fontSize18;
      }
    }
    .dos-columnas {
      flex-direction: column !important;
    }
  }
  @media (min-width: 1000px) and (max-width: 1250px) {
    .coworking-card {
      // Estilo general de la tarjeta de coworking
      .image-container {
        // Contenedor de la imagen
        padding: 5px;

        .coworking-image {
          // Estilo de la imagen de coworking
          width: 70px;
          height: 70px;
        }
      }
      .capacity-price-container .price-container .price {
        font-size: $fontSize18;
        .decimal {
          font-size: $fontSize12;
        }
      }
      .capacity-price-container {
        min-width: 70px;
      }
      .material-icons {
        font-size: $fontSize14;
      }
    }
  }

  .container {
    display: grid;
    grid-template-columns: 10% 80%;
    gap: 2rem;
  }

  .navigator {
    margin-right: 10px;
  }

  .content {
    flex-grow: 1;
  }

  .buttons-c {
    margin-bottom: 10px;
    display: inline-flex;
  }

  .button-c {
    background-color: $primary;
    color: $accent;
    border: 0;
    padding: 0.5rem 1rem;
    width: 80px;
    font-size: 15px;
    font-weight: 500;
    cursor: pointer;
    margin-right: 1px;
    transition: all 0.2s;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.08);
    box-sizing: border-box;
  }

  .button-c:last-child {
    margin-right: 0;
  }

  .button-c.selected {
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.1);
  }

  .button-c:first-child {
    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px;
  }

  .button-c:last-child {
    border-top-right-radius: 30px;
    border-bottom-right-radius: 30px;
  }

  .button-c:hover {
    box-shadow: 0 5px 7px rgba(0, 0, 0, 0.1);
  }

  .button-c:active {
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }

  .cancelBtn {
    color: #ffffff !important;
    background-color: $verdeBoton !important;
  }

  .price_range {
    font-size: 11px;
    font-weight: bold;
    max-width: 150px;
  }

  .slider {
    margin-right: 15px;
    margin-left: 15px;
  }
}

// Estilos tablas
.o-table-body {
  margin-top: 20px;
  border-radius: 8px;
}

.o-table-container thead tr {
  background-color: $primary !important;
  th{
    color: #ffffff !important;
    font-weight: 500 !important;
    font-size: 16px !important;
    height: 50px !important;
    border-bottom: 3px solid $blanco !important;
  }
}

tr.mat-mdc-row {
  height: 50px !important;

}

.mat-mdc-cell {
  font-size: 14px !important;
  line-height: 25px !important;
  border-bottom: 3px solid $blanco !important;
}
