<div class="card-detalle">
  <div class="button-back">
    <o-button
      attr="iconposition3"
      icon="arrow_back_ios"
      (click)="goBack()"
    ></o-button>
  </div>
  <o-form
    #form
    attr="coworkingDetail"
    service="coworkings"
    entity="coworking"
    header-actions="R"
    show-header-navigation="no"
    keys="cw_id"
    keys-sql-types="integer"
    columns="cw_id;cw_name;cw_address;cw_location;cw_lat;cw_lon"
    header-position="false"
    layout-direction="row"
    detect-changes-on-blur="no"
    undo-button="no"
    stay-in-record-after-insert="true"
    editable-detail="no"
    (onDataLoaded)="
      iniciarPantalla(
        form.getFieldValue('cw_location'),
        form.getFieldValue('location'),
        form.getFieldValue('cw_address'),
        form.getFieldValue('cw_lat'),
        form.getFieldValue('cw_lon')
      )
    "
    class="form-new-event"
  >
    <o-integer-input oHidden #id attr="cw_id"></o-integer-input>
    <o-integer-input oHidden #cw_location attr="cw_location"></o-integer-input>
    <o-integer-input oHidden #cw_lat attr="cw_lat"></o-integer-input>
    <o-integer-input oHidden #cw_lon attr="cw_lon"></o-integer-input>

    <div class="dos-columnas" fxLayout="row" flxLayoutAlign="center center">
      <o-column fxFlex class="form-section" title="" fxLayoutGap="24px">
        <div>
          <o-text-input
            #name
            type="text"
            oHidden
            attr="cw_name"
            fxFlex
            label="NAME"
          ></o-text-input>
          <h1>{{ form.getFieldValue("cw_name") }}</h1>
        </div>
        <div class="image-container">
          <!-- Campo para mostrar la imagen de coworking -->
          <div [ngClass]="{ hidden: !form.getFieldValue('cw_image') }">
            <!-- Ocultaremos el div cuando no exista "cw_image" -->
            <!-- Necesitamos el o-image para que se carge la imagen en el campo cw_image del form, sino no existiría el cw_image -->
            <o-image
              attr="cw_image"
              show-controls="no"
              read-only="yes"
              auto-fit="no"
            ></o-image>
          </div>
          <!-- En el caso de que no exista, cargaremos la imagen por defecto y se ocultará el div anterior -->
          <img
            *ngIf="!form.getFieldValue('cw_image')"
            src="assets/images/coworking-default.jpg"
            alt="Imagen predeterminada"
          />
          <!-- Media valoración -->
          <o-form
            #formAverage
            attr="averageRatio"
            service="bookingsRate"
            entity="ratioAveragePerCoworking"
            show-header-navigation="no"
            keys="cw_id"
            parent-keys="cw_id"
            keys-sql-types="integer"
            columns="average_ratio"
            header-position="false"
            layout-direction="row"
            detect-changes-on-blur="no"
            undo-button="no"
            stay-in-record-after-insert="true"
            editable-detail="no"
            class="bookingsRate"
          >
            <o-text-input
              oHidden
              #avg_ratio
              attr="average_ratio"
              label="media"
            ></o-text-input>
            <div
              fxLayout="row"
              fxLayoutAlign="space-around center"
              fxLayoutGap="8px"
            >
              <!-- Mostrar íconos completos -->
              <ng-container
                *ngFor="
                  let any of calculateIcons(getAverage()).fullIcons
                    | numberToArray
                "
              >
                <i class="pi pi-star-fill"></i>
              </ng-container>

              <!-- Mostrar medio ícono si es necesario -->
              <ng-container *ngIf="calculateIcons(getAverage()).hasHalfIcon">
                <i class="pi pi-star-half-fill"></i>
              </ng-container>

              <!-- Mostrar la media como texto -->
              <p *ngIf="formAverage.getFieldValue('average_ratio')">
                {{ getAverage() }}
              </p>
            </div>
          </o-form>
        </div>
        <div class="info-container">
          <div class="detail-container">
            <o-text-input
              #description
              type="text"
              oHidden
              attr="cw_description"
              fxFlex
              label="DESCRIPTION"
            ></o-text-input>
            <p>
              <strong>{{ "DESCRIPTION" | oTranslate }}:</strong>
              {{ form.getFieldValue("cw_description") }}
            </p>
          </div>
          <div>
            <section class="services">
              <p>
                <strong>{{ "SERVICES" | oTranslate }}:</strong>
              </p>
              <o-grid
                #coworkingsGrid
                attr="coworkingsGrid"
                service="cw_services"
                entity="servicePerCoworking"
                keys="cw_id"
                columns="servicios"
                parent-keys="cw_id"
                quick-filter="no"
                fixed-header="no"
                controls="false"
                refresh-button="false"
                show-page-size="false"
                pagination-controls="false"
                show-buttons-text="no"
                cols="6"
                gutter-size="8px"
                rows="1"
                detail-mode="none"
                show-footer="no"
                grid-item-height="40px"
              >
                <o-grid-item *ngFor="let service of coworkingsGrid.dataArray">
                  <mat-icon [matTooltip]="service.servicios | oTranslate">
                    {{ serviceIcons[service.servicios] }}
                  </mat-icon>
                </o-grid-item>
              </o-grid>
              <ng-container *ngIf="coworkingsGrid.dataArray.length === 0">
                <span class="coworking-service">{{
                  "NO_SERVICES" | oTranslate
                }}</span>
              </ng-container>
            </section>
          </div>
          <div class="detail-container">
            <div
              style="
                width: 100%;
                display: flex;
                align-items: center;
                justify-content: space-between;
              "
            >
              <o-text-input
                #sites
                oHidden
                attr="cw_capacity"
                fxFlex
                label="CAPACITY"
              ></o-text-input>
              <p>
                <strong>{{ "CAPACITY" | oTranslate }}:</strong>
                {{ form.getFieldValue("cw_capacity") }}
                {{ "SEATS" | oTranslate }}
              </p>
              <div class="price-container">
                <o-text-input
                  #dailyPrice
                  type="text"
                  oHidden
                  attr="cw_daily_price"
                  fxFlex
                  label="DAILY_PRICE"
                ></o-text-input>
                <div class="price">
                  <span
                    [innerHTML]="
                      formatPrice(form.getFieldValue('cw_daily_price'))
                    "
                  ></span>
                  <strong>/{{ "DAILY_PRICE" | oTranslate }} </strong>
                </div>
              </div>
            </div>
            <div class="bloque-reserva">
              <div *ngIf="parsePermissions('date')">
                <p>
                  <strong>{{ "DATE_RESERVATION" | oTranslate }}:</strong>
                </p>
                <o-form editable-detail="no" show-header="no">
                  <!--Hay que añadir la funcion [min]  y value-type = date para desactivar las pasadas -->
                  <o-daterange-input
                    attr="daterange"
                    #daterange
                    fxFlex
                    label="SELECT_DATE_RANGE"
                    read-only="no"
                    required="yes"
                    [min]="currentDate()"
                    (onValueChange)="setDates()"
                    value-type="date"
                  ></o-daterange-input>
                </o-form>
                <!-- Mostrar "Plazas Disponibles:"-->
                <!--
                <p *ngIf="parsePermissions('realCapacity')">
                  <strong>{{ "REAL_CAPACITY" | oTranslate }}: </strong>
                </p>
                // -->
              </div>
              <div
                class="reservation-button"
                *ngIf="parsePermissions('bookingButton')"
              >
                <o-button
                  #bookingButton
                  attr="bookingButton"
                  label="{{ 'BOOKING' | oTranslate }}"
                  type="raised"
                  color="primary"
                  (click)="showConfirm($event)"
                  enabled="FALSE"
                ></o-button>
              </div>
            </div>
          </div>
        </div>
      </o-column>
      <o-column
        fxFlex
        class="form-section map-container"
        title=""
        fxLayoutGap="24px"
      >
        <o-text-input
          #location
          type="text"
          oHidden
          attr="location"
          fxFlex
          label="LOCATION"
        ></o-text-input>
        <o-text-input
          #address
          type="text"
          oHidden
          attr="cw_address"
          fxFlex
          label="ADDRESS"
        ></o-text-input>
        <span class="ubicacion">
          <strong>{{ "ADDRESS" | oTranslate }}:</strong>
          {{ form.getFieldValue("cw_address") }} ({{
            form.getFieldValue("location")
          }})
        </span>

        <!-- Map Information -->
        <div title="" fxLayoutGap="24px" class="map-container">
          <o-map
            #coworking_map
            attr="coworking_map"
            center="40.416775;-3.703790"
            zoom="6"
            min-zoom="6"
            max-zoom="18"
            zoom-control="yes"
            search-control="no"
            layer-panel-visible="no"
            fxFlex
          >
          </o-map>
        </div>
        <!-- Carrusel que muestra los eventos -->
        <div id="carousel">
          <div class="card" *ngIf="events.length > 0">
            <p-carousel
              [value]="events"
              [numVisible]="3"
              [numScroll]="1"
              [circular]="true"
              [responsiveOptions]="responsiveOptions"
              [autoplayInterval]="5000"
            >
              <ng-template pTemplate="header">
                <strong>{{ "NEAR_EVENTS" | oTranslate }}</strong>
              </ng-template>
              <ng-template let-event pTemplate="item">
                <div class="event-item" (click)="goEvent(event.id_event)">
                  <div class="event-item-content">
                    <div>
                      <img
                        [src]="getImageSrc(event.image_event)"
                        alt="{{ event.name }}"
                        class="event-image"
                      />
                    </div>
                    <div>
                      <span class="nombre-evento">{{ event.name }}</span>
                      <br />
                      <!-- <mat-icon>calendar_month</mat-icon> //-->
                      <span class="fecha-evento">{{
                        dateTransform(event.date_event)
                      }}</span
                      >&nbsp;-
                      <!-- <mat-icon>access_time</mat-icon> //-->
                      <span class="hora-evento">{{
                        timeTransform(event.hour_event)
                      }}</span>
                    </div>
                  </div>
                </div>
              </ng-template>
            </p-carousel>
          </div>
        </div>
      </o-column>
    </div>
    <!-- Reviews -->
    <o-column class="review">
      <h4 class="review-title">{{ "REVIEWS" | oTranslate }}</h4>
      <o-grid
        #coworkingValoration
        attr="coworkingValoration"
        service="bookingsRate"
        entity="bookingValorationsPerCoworking"
        keys="cw_id"
        columns="bkr_ratio;bkr_description;usr_login"
        parent-keys="cw_id"
        quick-filter="no"
        fixed-header="no"
        controls="no"
        refresh-button="false"
        show-page-size="no"
        show-buttons-text="no"
        cols="2"
        gutter-size="8px"
        detail-mode="none"
        grid-item-height="4.5:1"
        pagination-controls="no"
        query-rows="2"
      >
        <o-grid-item *ngFor="let rate of coworkingValoration.dataArray">
          <div layout-padding class="review-container">
            <div fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="16px">
              <p class="login-name">{{ rate.usr_login }}</p>
              <p-rating
                [(ngModel)]="rate.bkr_ratio"
                [cancel]="false"
                [readonly]="true"
              />
            </div>
            <div class="review-description-container">
              {{ rate.bkr_description }}
            </div>
          </div>
        </o-grid-item>
      </o-grid>
    </o-column>
  </o-form>
</div>
