<div class="grid-container">
  <o-form class="filters" show-header="no">
    <o-column-collapsible
      class="collapsible-container"
      attr="container"
      title="{{ 'ADVANCED_SEARCH' | oTranslate }}"
      icon="filter_list"
      expanded="no"
    >
      <div class="collapsible-container-items">
        <o-combo
          #locationField
          appearance="outline"
          label="LOCATION"
          id="cw_location"
          null-selection="no"
          attr="city"
          service="cities"
          entity="city"
          keys="id_city"
          value-column="city"
          sort="ASC"
          columns="city"
          searchable="true"
          visible-columns="city"
          multiple="yes"
          translate="yes"
          fxFlex="100"
          fxFlex.gt-xs="37"
          fxFlex.gt-sm="18"
        >
        </o-combo>
        <o-combo
          #servicesField
          appearance="outline"
          label="{{ 'SERVICES' | oTranslate }}"
          id="service"
          null-selection="no"
          attr="srv_name"
          service="services"
          entity="service"
          keys="srv_id"
          value-column="srv_name"
          columns="srv_name"
          sort="ASC"
          searchable="true"
          visible-columns="srv_name"
          multiple="yes"
          translate="yes"
          fxFlex="100"
          fxFlex.gt-xs="37"
          fxFlex.gt-sm="18"
        >
        </o-combo>
        <o-daterange-input
          attr="daterange"
          #daterange
          fxFlex
          label="SELECT_DATE_RANGE"
          read-only="no"
          [min]="currentDate()"
          format="D/M/Y"
          value-type="DATE"
          sql-type="DATE"
          fxFlex="100"
          fxFlex.gt-xs="37"
          fxFlex.gt-sm="18"
        ></o-daterange-input>
        <div class="price_range">
          <span>{{ "PRICE_RANGE" | oTranslate }}</span><br>
          <span >&nbsp;0 € - {{ toPrice }}&nbsp;€</span>
        </div>
        <div class="slider">
          <o-slider
          id="slider"
          #cw_daily_price
          attr="cw_daily_price"
          read-only="no"
          max="99.00"
          (onChange)="click($event)"
          min="0.00"
          label="PRICE_SLIDER"
          [tooltip]="formatLabelUntil()"
          tooltip-position="below"
          step="5"
        ></o-slider>
        </div>
        <o-row class="btn-container" layout-gap="10px">
          <button class="button-filter"
            attr="filter"
            [oFilterBuilderQuery]="filterBuilder"
            query-on-change="true"
            type="RAISED"
            label="SEARCH"
            class="button btn-outline-light custom-button"
            matTooltip="{{ 'Search' | oTranslate }}"
          >
            <mat-icon class="material-icons">search</mat-icon>
          </button>
          <button class="button-filter"
            attr="clear"
            [oFilterBuilderClear]="filterBuilder"
            type="RAISED"
            label="CLEAR"
            class="button btn-outline-light custom-button"
            matTooltip="{{ 'Clear' | oTranslate }}"
            (click)="clearFilters()"
          >
            <mat-icon class="material-icons">clear</mat-icon>
          </button>
        </o-row>

        <o-filter-builder
          #filterBuilder
          attr="thefilter"
          filters="cw_location:city;services:srv_name;date:daterange;cw_daily_price:cw_daily_price"
          [target]="coworkingsGrid"
          query-on-change="no"
          query-on-change-delay="500"
          [expression-builder]="createFilter"
        >
        </o-filter-builder>
      </div>
    </o-column-collapsible>
  </o-form>

  <!-- Grid que muestra los datos de los coworkings -->
  <o-grid
    #coworkingsGrid
    attr="coworkingsGrid"
    service="coworkings"
    entity="serviceCoworking"
    keys="cw_id"
    [static-data]="data"
    columns="cw_id;cw_name;cw_location;cw_address;cw_daily_price;cw_description;cw_image;services;ratio;date"
    quick-filter-columns="cw_name"
    pagination-controls="true"
    page-size-options="12;16;20"
    query-rows="12"
    grid-item-height="3.5:1"
    [cols]="gridCols"
    gutter-size="40px"
    pageable="yes"
  >
    <o-grid-item
      *ngFor="let data of coworkingsGrid.dataArray"
      class="responsive-grid"
    >
      <o-date-input attr="date" type="date" oHidden></o-date-input>
      <div class="coworking-card">
        <div class="image-container">
          <!-- Mostramos la imagen del coworking en las cards -->
          <img
            class="coworking-image"
            [src]="getImageSrc(data.cw_image)"
            alt="{{ data.cw_name }}"
          />
        </div>

        <div class="info">
          <h2 class="coworking-name">{{ data.cw_name }}</h2>

          <section class="services">
            <article *ngFor="let service of serviceList(data.services)">
              <article *ngIf="service == 'additional_screen'">
                <mat-icon
                  style="vertical-align: middle"
                  [matTooltip]="service | oTranslate"
                  >desktop_windows
                </mat-icon>
              </article>
              <article *ngIf="service == 'vending_machine'">
                <mat-icon
                  style="vertical-align: middle"
                  [matTooltip]="service | oTranslate"
                  >kitchen</mat-icon
                >
              </article>
              <article *ngIf="service == 'coffee_bar'">
                <mat-icon
                  style="vertical-align: middle"
                  [matTooltip]="service | oTranslate"
                  >local_cafe</mat-icon
                >
              </article>
              <article *ngIf="service == 'water_dispenser'">
                <mat-icon
                  style="vertical-align: middle"
                  [matTooltip]="service | oTranslate"
                  >local_drink
                </mat-icon>
              </article>
              <article *ngIf="service == 'ergonomic_chair'">
                <mat-icon
                  style="vertical-align: middle"
                  [matTooltip]="service | oTranslate"
                  >event_seat
                </mat-icon>
              </article>
              <article *ngIf="service == 'parking'">
                <mat-icon
                  style="vertical-align: middle"
                  [matTooltip]="service | oTranslate"
                  >local_parking</mat-icon
                >
              </article>
            </article>
          </section>
          <p class="location">{{ data.cw_location }}</p>

          <!-- Media Valoraciones -->
          <p *ngIf="data.ratio" class="ratio">
            <mat-icon>star</mat-icon>
            {{ data.ratio }}
          </p>
          <!-- Fin media valoraciones -->
        </div>
        <div class="capacity-price-container">
          <div class="price-container">
            <div
              class="price"
              [innerHTML]="formatPrice(data.cw_daily_price)"
            ></div>
          </div>
        </div>
      </div>
    </o-grid-item>
  </o-grid>
  <ng-container *ngIf="noResults" class="no-results-container">
    <span class="no-results">{{ "NO_RESULTS" | oTranslate }}</span>
  </ng-container>
</div>
